body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: rgb(72, 69, 69);
    text-align: center;
}
.container{
    border-radius: 5px;
    box-shadow: 0, 0, 3px rgba(0, 0, 0, 0);
}
.p{
    color: rgb(31, 106, 173);
}
.s{
    color: rgb(31, 106, 173);
}
input[text=""]{
    background-color: black;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px;
    
    width: 100px;
}
input[type="sibmit"]{
    background-color: rgb(63, 126, 202);

}